/* 修改后的main.css - 去掉了限制布局的样式 */

#app {
  /* 删除这些限制性的样式 */
  /* max-width: 1280px; */
  /* margin: 0 auto; */
  /* padding: 2rem; */

  /* 保留和添加全宽样式 */
  width: 100%;
  height: 100vh;
  margin: 0;
  padding: 0;
  font-weight: normal;
}



@media (hover: hover) {
  a:hover {
    background-color: hsla(160, 100%, 37%, 0.2);
  }
}

@media (min-width: 1024px) {
  /* 删除body的居中样式，这会影响整体布局 */
  body {
    /* display: flex; */
    /* place-items: center; */
    margin: 0;
    padding: 0;
  }

  #app {
    /* 删除网格布局，这不适合你的layout组件 */
    /* display: grid; */
    /* grid-template-columns: 1fr 1fr; */
    /* padding: 0 2rem; */

    /* 保持全宽 */
    width: 100%;
    height: 100vh;
    margin: 0;
    padding: 0;
  }
}